<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="https://uchet.kz/bitrix/templates/2016/favicon/r-logo-120.ico">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>
        УЧЁТНОЕ ЛЕТО

    </title>

    <script defer src="./script.js"></script>
    <link href="./style.css" rel="stylesheet">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m, e, t, r, i, k, a) {
            m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) {
                if (document.scripts[j].src === r) {
                    return;
                }
            }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(603442, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/603442" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
    <header class="site-header">
        <div class="header__inner">
            <div class="header__logo">
                <a href="https://uchet.kz/" target="_blank" class="mr-3">
                    <img alt="Учёт" src="https://uchet.kz/local/templates/metro/assets/media/logos/logo.svg" />

                </a>
            </div>
            <nav class="header__nav ">
                <ul class="header__nav-list">
                    <li class="header__nav-item"><a href="#about">О конференции</a></li>
                    <li class="header__nav-item"><a href="#tabs">Программа</a></li>
                    <li class="header__nav-item"><a href="#spikers">Спикеры</a></li>
                    <li class="header__nav-item"><a href="#info">Партнёры</a></li>
                </ul>
            </nav>
            <div class="hide-md hide-lg">
                <nav class="site-navbar">
                    <ul>
                        <li class="header__nav-item"><a href="#about">О конференции</a></li>
                        <li class="header__nav-item"><a href="#tabs">Программа</a></li>
                        <li class="header__nav-item"><a href="#spikers">Спикеры</a></li>
                        <li class="header__nav-item"><a href="#info">Партнёры</a></li>
                    </ul> <button class="nav-toggler"> <span></span> </button>
                </nav>
            </div>
            <div class="header__register">
                <a href="#register"> <span class="text">Принять участие </span></a>
            </div>
        </div>
    </header>

    <section class="main" class="" style="background-image: url('./images/main-bg.png');">
        <div class="container">
            <div class="main__content">
                <h1 class="main__title">Учётное лето</h1>
                <div class="main__description ">
                    <div class="main__description-item"><img src="./images/fs-1.svg" alt="">
                        <p>Онлайн конференция</p>
                    </div>
                    <div class="main__description-item"><img src="./images/fs-2.svg" alt="">
                        <p> 11 - 14 июля</p>
                    </div>
                    <div class="main__description-item"><img src="./images/fs-3.svg" alt="">
                        <p>с 10.00 до 13.30</p>
                    </div>
                </div>
                <a href="#register" class="btn primary large">
                    <span class="text">Принять участие</span>
                </a>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <div class="about__content">
                <div class="section__title">
                    <h3>Конференция будет интересна:</h3>
                    <!-- <p><b>За 4 дня</b> участия в конференции вы повысите свою квалификацию в сфере:
                    </p> -->
                </div>
                <div class="about__description">
                    <div class="about__description-item ">
                        <img src="./images/ab_1.png" alt="">
                        <div class="text">Бухгалтерам</div>
                    </div>
                    <div class="about__description-item">
                        <img src="./images/ab_2-1.png" alt="">
                        <div class="text">Налоговым консультантам</div>
                    </div>
                    <div class="about__description-item">
                        <img src="./images/ab_3.png" alt="">
                        <div class="text">Предпринимателям</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tabs" id="tabs">
        <div class="container">
            <div class="section__title">
                <h3>Программа онлайн-конференции</h3>
            </div>

            <div class="tabs">
                <div class="tabs__btn">
                    <div class="tab active" onclick="changeTab(1)">11 июля</div>
                    <div class="tab" onclick="changeTab(2)">12 июля</div>
                    <div class="tab" onclick="changeTab(3)">13 июля</div>
                    <div class="tab" onclick="changeTab(4)">14 июля</div>
                </div>
                <div class="tabs__content">
                    <div class="tab__content active" id="tab1">
                        <div class="profiles">
                            <div class="profiles__item">
                                <div class="date">10:00 – 10:10 <br>
                                    <!-- <div class="desc">Открытие конференции</div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/TAB_1.svg" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b>Открытие конференции</b>
                                        <span class="name">Максим Барышев</span> <br> Основатель ГК Учёт
                                    </div>
                                </div>
                            </div>
                            <div class="profiles__item">
                                <div class="date">10:15 – 11:05 <br>
                                    <!-- <div class="desc"> Розничный налог</div> -->
                                </div>

                                <div class="profile__avatar">
                                    <img src="./images/spiker__11.png" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b> Платформенная занятость: как платить налоги </b>
                                        <br>
                                        <span class="name">Смагулова Гульмира Амиргалиевна</span> <br> Руководитель управления администрирования СНР и предпринимательской деятельности физических лиц Департамента администрирования непроизводственных платежей
                                        физических лиц и СНР КГД МФ РК
                                        <div class="small" style="margin-top: 2rem;">
                                            Минтруда и соцзащиты населения РК совместно с КГД МФ РК приступили к реализации пилотного проекта по применению иного порядка налогового администрирования лиц, оказывающих услуги с использованием интернет-платформ таких, как «Яндекс.Такси», Glovo, Wolt
                                            и др
                                        </div>
                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class="styled">
                                            <li> Что собой представляет платформенная занятость и какие лица будут участвовать в пилотном проекте

                                            </li>
                                            <li>Какие нормативные акты регламентируют платформенную занятость

                                            </li>
                                            <li>Какие налоги и как платить в пилотном проекте по платформенной занятости

                                            </li>
                                            <li>Особенности работы с использованием СНР мобильного приложения при участии в пилотном проекте </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="profiles__item">
                                <div class="date">11:05 – 11:50 <br>
                                    <!-- <div class="desc"> Розничный налог</div> -->
                                </div>

                                <div class="profile__avatar">
                                    <img src="./images/spiker_11_2.png" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b>Торговля на маркетплейсах. <br> Каковы преимущества пилотного проекта</b>
                                        <br>
                                        <span class="name">Каптагаев Ильяс Сарсембаевич</span> <br> Главный эксперт Управления цифровых активов Комитета государственных доходов МФ РК
                                        <div class="small" style="margin-top: 2rem;">
                                            С 1 июля 2023 года Комитет государственных доходов запустил Пилотный проект для индивидуальных предпринимателей, которые торгуют на популярных маркетплейсах.
                                        </div>
                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class="styled">
                                            <li>С какой целью запущен пилотный проект
                                            </li>
                                            <li>Какие маркетплейсы охватывает пилотный проект

                                            </li>
                                            <li>Каковы преимущества участия в пилотном проекте</li>
                                            <li>Какое мобильное приложение используется для уплаты налогов</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="profiles__item">
                                <div class="date">11:50 – 13:20<br>
                                    <!-- <div class="desc"> Розничный налог</div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/TAB_2.svg" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b> Розничный налог: заполняем ФНО 913.00 с учётом изменений на 2023 год</b>
                                        <br>
                                        <span class="name">Дарья Бовшис</span> <br> Аудитор РК, обладатель диплома DipIFR (ACCA), профессиональный бухгалтер РК, консультант портала Учёт.KZ
                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class="styled">
                                            <li>кто вправе применять данный режим</li>
                                            <li>какие существуют ограничения для применения режима Розничного налога
                                            </li>
                                            <li>какие предусмотрены ставки и освобождения </li>
                                            <li>рассмотрим наглядный пример составления ФНО 913.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab__content" id="tab2">
                        <div class="profiles">
                            <div class="profiles__item">
                                <div class="date">10:00 – 11:10 <br>
                                    <!-- <div class="desc">Упрощенка</div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/TAB_6.svg" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b> Упрощенка: практика заполнения ФНО 910.00 с учётом изменений на 2023 год</b>
                                        <br>
                                        <span class="name">Ильсия Сагитова</span> <br> Профессиональный бухгалтер РК, налоговый консультант, <br> CAP, бухгалтер-универсал
                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class=" styled">
                                            <li>Настройка заполнения ФНО 910.0 в 1С</li>
                                            <li>Настройка расчётов и отчислений за ИП в 1С</li>
                                            <li>Применение корректировки налогов</li>
                                            <li>Построчное заполнение ФНО 910.00</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="profiles__item">
                                <div class="date">11:10 – 12:40 <br>
                                    <!-- <div class="desc">Форма 101.04.</div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/Tab_7.png" alt="" style="object-fit: cover;">
                                </div>
                                <div class="profile__regalia ">
                                    <div class="inner">
                                        <b>Форма 101.04. Отражение обязательств по КПН<br> у источников выплаты в
                                            РК</b><br>
                                        <span class="name"> Ирина Банных </span><br> Аудитор РК, налоговый консультант 1-ой категории, CPA Eurasia, CIPA, САР, профессиональный бухгалтер РК и РФ.

                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class=" styled">
                                            <li> Виды доходов юридических лиц - нерезидентов из источника в РК</li>
                                            <li>Условия применения международных договоров</li>
                                            <li> Отражение обязательств по КПН из источника в РК в форме 101.04
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab__content" id="tab3">
                        <div class="profiles">
                            <div class="profiles__item">
                                <div class="date">10:00 – 11:30 <br>
                                    <!-- <div class="desc">Единый платеж</div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/TAB_5.svg" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b>Единый платеж: расчет и отражение <br> в ФНО 200.00 и 910.00</b> <br>
                                        <span class="name">Светлана Ким</span> <br> Аудитор РК, CAP, профессиональный бухгалтер РК, бизнес-тренер
                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class="styled">
                                            <li>Кто праве применять Единый платеж (ЕП) с доходов работников.</li>
                                            <li>Ставка Единого платежа и распределения на ИПН и социальные платежи с учётом новых Правил от 21 июня 2023 года № 229</li>
                                            <li>Налоговая форма отчетности 200.00 и приложение 200.06. Социальный налог к уплате в бюджет</li>
                                            <li> Налоговая форма отчетности 910.00 и приложение 910.03. Социальный налог к уплате в бюджет</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="profiles__item">
                                <div class="date">11:30 – 12:00 <br>
                                    <!-- <div class="desc">Единый платеж</div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/bulat-sadykov2.png" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b>Бухгалтерский аутсорсинг: <br> перспективы и тенденции</b> <br>
                                        <span class="name">Садыков Булат Гасанович</span> <br>Практикующий бизнес-тренер, консультант по развитию бизнеса, преподаватель по программам МВА, DBA
                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class="styled">
                                            <li>Тенденции развития аутсорсинга в Казахстане</li>
                                            <li> Учёт.Франшиза: перспективы развития</li>
                                            <li>Партнерская программа обучения Учёт.Франшиза</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="profiles__item">
                                <div class="date">12:00 - 13:30 <br>
                                    <!-- <div class="desc">Единый платеж</div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/TAB_5_2.png" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b>Заполнение приложения 300.01 и 300.09 Декларации по НДС за 2 квартал 2023
                                            года</b> <br>
                                        <span class="name">Руслан Тебиев</span> <br> Профессиональный бухгалтер РК, налоговый консультант 1-ой категории, обладатель диплома DipIFR (ACCA),<br> член палаты ПОБ «Учёт», член палаты налоговых консультантов
                                        РК
                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class="styled">
                                            <li> Какие обороты по реализации облагаются по ставке НДС 0%</li>
                                            <li> Порядок оформления экспорта в страны ЕАЭС</li>
                                            <li>Возврат налога на добавленную стоимость из бюджета при экспорте товара в страны ЕАЭС </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab__content" id="tab4">
                        <div class="profiles">
                            <div class="profiles__item">
                                <div class="date">10:00 – 11:30 <br>
                                    <!-- <div class="desc">Расчет Отпускных</div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/TAB_4.svg" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b>Расчет Отпускных: cредняя заработная плата в РК с учетом изменений 2023
                                            года</b> <br>
                                        <span class="name">Ольга Савченко</span> <br> Аудитор РК, CAP, CIPA, обладатель диплома DipIFR (ACCA), профессиональный бухгалтер РК

                                        <button class="btn primary more">
                                            <span class="text">ЧТО В ПРОГРАММЕ:</span>
                                        </button>
                                        <ul class="styled">

                                            <li> Как изменения в трудовом и социальном законодательстве 2023 года повлияли на расчеты средней заработной платы</li>
                                            <li> Особенности расчета средней заработной платы в РК в 2023 году</li>
                                            <li> Применение СЗП в расчете компенсаций для оплаты отпускных, больничных
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="profiles__item">
                                <div class="date"> 11:30 - 13:00 <br>
                                    <!-- <div class="desc"> </div> -->
                                </div>
                                <div class="profile__avatar">
                                    <img src="./images/TAB_3.svg" alt="">
                                </div>
                                <div class="profile__regalia">
                                    <div class="inner">
                                        <b>Расчет Отпускных в 1С: oсобенности расчета заработной платы и отпускных с
                                            учетом изменений в 2023
                                            году на примере сервиса Учёт.Бухгалтерия</b> <br> </b>
                                        <span class="name"> Марина Сергушина</span> <br> Профессиональный бухгалтер РК, налоговый консультант, CAP, методолог Учёт.Бухгалтерия

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </section>

    <section class="cert" id="cert">
        <div class="container">
            <div class="section__title">
                <h3>Получайте сертификаты </h3>
                <p>Участвуйте в конференции каждый день и получайте<b> до 10 часов повышения квалификации</b></p>
            </div>
            <div class="cert__image ">
                <img src="./images/cert.svg" alt="">
            </div>
        </div>
    </section>
    <section class="register" id="register">
        <div class="container">
            <div class="section__title">
                <h3>Регистрация и стоимость </h3>
            </div>
            <div class="register__content">
                <div class="register__info margin__smaller">
                    <p> Зарегистрируйтесь прямо сейчас, чтобы не пропустить ВАЖНОЕ СОБЫТИЕ ЛЕТА 2023 года для всех бухгалтеров
                    </p>
                    <p>11, 12, 13, 14 июля - участие бесплатное для всех зарегистрировавшихся.</p>
                    <p class="bold">За участие в конференции Вы получите сертификаты повышения квалификации.</p>

                </div>
                <script data-b24-form="inline/352/pmqlgx" data-skip-moving="true">
                    (function(w, d, u) {
                        var s = d.createElement('script');
                        s.async = true;
                        s.src = u + '?' + (Date.now() / 180000 | 0);
                        var h = d.getElementsByTagName('script')[0];
                        h.parentNode.insertBefore(s, h);
                    })(window, document, 'https://ep.uchet.kz/upload/crm/form/loader_352_pmqlgx.js');
                </script>
            </div>
        </div>
    </section>

    <section class="spikers" id="spikers">
        <div class="container">
            <div class="section__title">
                <h3>Спикеры </h3>
            </div>
            <div class="spiker__content">
                <div class="spiker__profile">
                    <div class="image"> <img src="./images/TAB_1.svg" alt=""></div>
                    <div class="text">Максим Барышев</div>
                </div>
                <div class="spiker__profile">
                    <div class="image"> <img src="./images/spiker__11.png" alt=""></div>
                    <div class="text">Смагулова Гульмира Амиргалиевна</div>
                </div>
                <div class="spiker__profile">
                    <div class="image"> <img src="./images/spiker_11_2.png" alt=""></div>
                    <div class="text">Каптагаев Ильяс Сарсембаевич</div>
                </div>
                <div class="spiker__profile">
                    <div class="image"> <img src="./images/TAB_2.svg" alt=""></div>
                    <div class="text">Дарья Бовшис
                    </div>
                </div>
                <div class="spiker__profile">
                    <div class="image"> <img src="./images/TAB_3.svg" alt=""></div>
                    <div class="text">Марина Сергушина
                    </div>
                </div>
                <div class="spiker__profile">
                    <div class="image">
                        <img src="./images/TAB_4.svg" alt="">
                    </div>
                    <div class="text">Ольга Савченко
                    </div>
                </div>
                <div class="spiker__profile">
                    <div class="image">
                        <img src="./images/TAB_5.svg" alt="">
                    </div>
                    <div class="text">Светлана Ким
                    </div>
                </div>
                <div class="spiker__profile">
                    <div class="image"> <img src="./images/TAB_6.svg" alt=""></div>
                    <div class="text">Ильсия Сагитова
                    </div>
                </div>
                <div class="spiker__profile">
                    <div class="image"> <img src="./images/Tab_7.png" alt=""></div>
                    <div class="text">Ирина Банных
                    </div>
                </div>
                <div class="spiker__profile">
                    <div class="image"> <img src="./images/bulat-sadykov2.png" alt=""></div>
                    <div class="text"> Булат Садыков
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section class="info" id="info">
        <div class="info__wrapper">
            <div class="info__content">
                <div class="info__block">
                    <div class="h3">Организаторы</div>
                    <div class="first__block-items">
                        <a href="/">
                            <img alt="Учёт" src="https://uchet.kz/local/templates/metro/assets/media/logos/logo.svg" target="_blank" />

                        </a>
                        <a href="https://pob.uchet.kz" target="_blank">

                            <img src="https://uchet.kz/local/templates/metro/assets/media/logos/services/pob.svg" title="Учёт.ПОБ">

                        </a>
                        <a href="https://profitraining.kz/" target="_blank"><img src="./images/profit.svg" alt=""></a>
                    </div>
                </div>

                <div class="info__block">
                    <div class="h3">Партнёры</div>
                    <div class="first__block-items">
                        <a href="https://buh.uchet.kz" target="_blank">

                            <img src="https://uchet.kz/local/templates/metro/assets/media/logos/services/buh.svg" class="h-30px" title="Учёт.Бухгалтерия">

                        </a>
                    </div>
                </div>
            </div>
            <div class="info__image">
                <img src="./images/info-right.svg" alt="">
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="footer__content">
                <nav class="footer__contact">
                    <h3>Контакты</h3>
                    <ul class="footer__contact-list">
                        <li class="footer__contact-item">Казахстан, Алматы ул. Жарокова, 41</li>
                        <li class="footer__contact-item"><a href="tel:+77003507474">+7 700 350-74-74</a></li>
                        <li class="footer__contact-item"><a href="tel:+77273398800">+7 727 339-88-00</a></li>
                        <li class="footer__contact-item"> Учёт.kz:
                            <a href="https://uchet.kz" target=" _blank ">uchet.kz</a>
                        </li>

                    </ul>
                </nav>
                <div class="footer__social ">
                    <h3>Мы в социальных сетях</h3>
                    <div class="social ">
                        <a href="https://t.me/uchet_kz" target="_blank" class="footer__social-link icon-telegram"></a>
                        <a href="https://www.instagram.com/uchet.kz" target="_blank" class="footer__social-link icon-instagram"></a>
                        <!-- <a href="https://vk.com/uchet_kz" target="_blank" class="footer__social-link icon-vk"></a>-->
                        <a href="https://www.facebook.com/Uchet.kz/?ref=aymt_homepage_panel&amp;eid=ARCnJREA2dbfAFyK9Enbsn1P0ykvq" target="_blank " class="footer__social-link icon-facebook "></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <style>
        section.tabs .tab__content .profiles>* .profile__avatar.no-image::before {
            content: none;
        }
        
        section.tabs .tab__content .profiles>* .profile__avatar.no-image img {
            opacity: 0.4;
            object-position: top;
            object-fit: cover;
            height: 15rem;
        }
        
        @media(max-width:767px) {
            section.tabs .tab__content .profiles>* .profile__regalia {
                margin: 0 auto;
            }
        }
    </style>
</body>

</html>